@import 'src/assets/styles/extends';

.bio_container {
  @extend %base-flex;
  grid-area: bio;
  color: #eeeeee;

  .bio_content {
    @extend %base-flex;
    flex-direction: column;
    gap:5px;

    .bio_title {
      text-transform: capitalize;
      animation: 1s enter linear;
    }

    .bio_title + p {
      padding: 0 50px;
      animation: 2s show ease-in-out;
    }

    .bio_table {
      @extend %base-flex;
      flex-direction: column;
      border-collapse: collapse;
      gap:5px;


      td {
        text-align: center;
        min-width: 100px;
        border: 2px solid #FF8630;
      }
    }
  }
}


@keyframes enter {
  30% { letter-spacing: 16px }
  85% { letter-spacing: 1px }
}

@keyframes show {
  0% { transform: scale(0) }
  100% { transform: scale(1)}
}


