@import 'src/assets/styles/extends';


.card_container {
  @extend %base-flex;
  animation: slide;

  .card_content {
    @extend %base-flex;
    gap: 10px;

    .card_logo {
      @extend %base-flex;
      align-self: center;
      position: relative;

      .card_logo_img {
        object-fit: fill;
        max-width: 400px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 10px 5px 5px #3d2b1f;
      }
    }

    .card_info {
      @extend %base-flex;
      flex-direction: column;
      max-width: 400px;

      .card_info_title {
        font-weight: bolder;
      }

      .card_info_description {
        @extend %base-flex;
        text-align: center;
        flex-direction: column;
        gap: 5px;
        max-width: 400px;
      }

      .card_info_stack {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        gap: 10px;
        list-style: none;

        div {
          align-self: start;
        }

        .card_stack_item {
          font-style: italic;
          font-weight: bolder;
          color: #FF8630;
        }
      }

      .card_info_label {
        display: flex;
        gap: 5px;

        .card_info_label_link {
          text-decoration: none;
          color: #eeeeee;
          font-weight: bolder;
          font-style: italic;

        }
      }
    }
  }
}


@media (max-width: 830px) {
  .card_container .card_content {
    flex-direction: column;
    height: 370px;
  }
}


@media (max-width: 450px) {
  .card_container .card_content {
    max-width: 350px;

    .card_logo .card_logo_img {
      transform: scale(0.8);
    }

    .card_info_description {
      max-width: 330px;
    }
  }
}