@use 'src/assets/styles/base';
@import 'src/assets/styles/extends';

.footer_container {
  @extend %base-flex;
  height: map-get(base.$app_height, footer);
  background-color: #181514;
  width: 100%;

  .footer_content {
    @extend %base-flex;
    flex-direction: column;
    color:#eeeeee;
    width: 100%;
    gap:10px;

    h3 {
      text-transform: capitalize;
    }

    .footer_contacts {
      display: flex;
      gap:50px;
    }

    .footer_links {
      grid-column-start: 4;
      display: grid;
      grid-template-columns: repeat(3,40px);
      grid-template-rows: 40px;
      align-items: center;
      justify-content: center;
      gap:5px;

      a {
        @extend %base-flex;
        fill: #eeeeee;

        :hover {
          fill: #FF8630;
        }
      }
    }
  }
}
