@use 'src/assets/styles/base';
@import 'src/assets/styles/extends';

.app_wrapper {
  @extend %base-flex;
  background-color: #181514;
  width: 100vw;

  .app_content {
    @extend %base-flex;
    flex-direction: column;
    width: 100%;
    padding: 0 80px;

    .app_main {
      @extend %base-flex;
      flex-direction: column;
      gap:20px;
      width: 100%;
    }
  }
}