@import 'src/assets/styles/extends';

.personal_container {
  @extend %base-flex;
  color: #eeeeee;

  .personal_content {
    @extend %base-flex;
    gap:40px;
    width: 100%;
    padding: 30px 100px 0 100px;

    .personal_logo {
      @extend %base-flex;
      position: relative;
      animation: 2s open linear;

      .personal_logo_img {
        height: 350px;
        width: 250px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #FF8630;
      }

      .personal_logo_text {
        @extend %base-flex;
        flex-direction: column;
        position: absolute;
        bottom: 10px;
        text-transform: capitalize;
        font-weight: bolder;
        color: white;
        font-size: 0.8em;

        h3 {
          animation: 1s left ease-in-out;
        }

        p {
          animation: 1s right ease-in-out;
        }
      }
    }

    .personal_motivation {
      @extend %base-flex;
      align-self: start;
      flex-direction: column;
      max-width: 500px;
      text-align: center;


      .personal_motivation_title {
        text-transform: capitalize;
      }

      .personal_motivation_text {
        @extend %base-flex;
        flex-direction: column;
      }

      .personal_motivation_text_list {
        list-style-type: square;
        font-weight: bolder;
        color:#d8dfe5;
        align-self: center;
      }
    }
  }
}

@keyframes open {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes left {
  from { transform:translateX(-150px) }
  to { transform:translateY(0) }
}

@keyframes right {
  from { transform:translateX(150px) }
  to { transform:translateY(0) }
}



@media (max-width: 830px) {
  .personal_container .personal_content {
    padding: 30px 20px 0 20px;
  }
}


@media (max-width: 760px) {
  .personal_container .personal_content {
    flex-direction: column;
  }
}


@media (max-width: 560px) {
  .personal_container .personal_content {
    gap:20px;
  }

  .personal_container .personal_content .personal_motivation {
    min-width: 380px;
    padding: 20px 20px 0 20px;
  }

  .personal_container .personal_content .personal_logo .personal_logo_img {
      height: 300px;
      width: 200px;
    }
}

