@import 'src/assets/styles/extends';

.slider_container {
  display: flex;
  align-items: start;
  justify-content: center;
  grid-area: project;
  color:white;

  .slider_content {
    display: flex;
    align-items: center;

    .slider_btn {
      cursor: pointer;
      fill: white;
    }


    svg[aria-label='прошлый проект'] {
      transform: rotate(180deg);
      height: 150%;
    }

  }
}